{
  "openapi": "3.0.0",
  "info": {
    "title": "USGS Water Services API",
    "description": "You can use this service to retrieve recent and historical values for streamflow as well as data for other regular time-series parameters served by the USGS. This service provides these USGS water data in Extensible Markup Language (XML), Javascript Object Notation (JSON) and the legacy RDB (tab-delimited) format currently available from the USGS Water Data for the Nation site External Link. More media types will follow.",
    "version": "1.0.0",
    "contact": {
      "name": "USGS",
      "url": "https://www.usgs.gov/"
    }
  },
  "servers": [
    {
      "url": "https://waterservices.usgs.gov/nwis/iv"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": ["Instantaneous "],
        "summary": "Get site information",
        "description": "A list of site numbers. You can specify up to 100 sites. Sites are comma separated. Sites may be prefixed with an optional agency code followed by a colon. If you don't know the site numbers you need, you can find relevant sites with the NWIS Mapper (http://wdr.water.usgs.gov/nwisgmap/index.html) or on the USGS Water Data for the Nation site (http://waterdata.usgs.ogv/nwis/)",
        "operationId": "getSite",
        "parameters": [
          {
            "name": "majorFilter",
            "in": "query",
            "required": true,
            "description": "Every query requires a major filter. Pick the major filter (sites, stateCd, huc, bBox, counties) that best retrieves the data for the sites that you are interested in. You can have only one major filter per query. If you specify more than one major filter, you will get an error. <a href='https://waterservices.usgs.gov/rest/IV-Service.html#MajorFilters'>Click to view more details</a>",
            "schema": {
              "type": "object",
              "properties": {
                "sites": {
                  "type": "string",
                  "example": "01646500",
                  "description": "<a href='https://waterservices.usgs.gov/rest/IV-Service.html#Single'>Click to view description</a>"
                },
                "stateCd": {    
                  "type": "string",
                  "example": "NY",
                  "description": "<a href='https://waterservices.usgs.gov/rest/IV-Service.html#stateCd'>Click to view description</a>"
                },
                "huc": {
                  "type": "string",
                  "example": "01,02070010",
                  "description": "<a href='https://waterservices.usgs.gov/rest/IV-Service.html#huc'>Click to view description</a>"
                },
                "bBox": {
                  "type": "string",
                  "example": "-83,36.5,-81,38.5",
                  "description": "<a href='https://waterservices.usgs.gov/rest/IV-Service.html#bBox'>Click to view description</a>"
                },
                "countyCd": {
                  "type": "string",
                  "example": "51059,51061",
                  "description": "<a href='https://waterservices.usgs.gov/rest/IV-Service.html#countyCd'>Click to view description</a>"
                }
              },
              "additionalProperties": false
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "description": "<a href='https://waterservices.usgs.gov/rest/IV-Service.html#format'>Click to view description</a>",
            "schema": {
              "enum": ["json"],
              "type": "string",
              "example": "json"
            }
          },
          {
            "name": "parameterCd",
            "in": "query",
            "description": "<a href='https://waterservices.usgs.gov/rest/IV-Service.html#parameterCd'>Click to view description</a>",
            "required": false,
            "schema": {
              "type": "string",
              "example": "00060"
            }
          },
          {
            "name": "siteStatus",
            "in": "query",
            "description": "<a href='https://waterservices.usgs.gov/rest/IV-Service.html#siteStatus'>Click to view description</a>",
            "required": true,
            "schema": {
              "enum": ["all", "active", "inactive"],
              "type": "string",
              "example": "all"
            }
          },
          {
            "name": "siteType",
            "in": "query",
            "description": "<a href='https://waterservices.usgs.gov/rest/IV-Service.html#siteType'>Click to view description</a>",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ST"
            }
          },
          {
            "name": "agencyCd",
            "in": "query",
            "description": "<a href='https://waterservices.usgs.gov/rest/IV-Service.html#agencyCd'>Click to view description</a>",
            "required": false,
            "schema": {
              "type": "string",
              "example": "USCE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "503": {
            "description": "Service unavailable"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Instantaneous "
    }
  ],
  "components": {
    "schemas": {
      "SiteResponse": {},
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
