{
  "openapi": "3.0.0",
  "info": {
    "title": "USGS Water Services API",
    "description": "You can use this service to retrieve recent and historical values for streamflow as well as data for other regular time-series parameters served by the USGS. This service provides these USGS water data in XML (default), JSON or RDB.",
    "version": "1.0.0",
    "contact": {
      "name": "USGS",
      "url": "https://www.usgs.gov/"
    }
  },
  "servers": [
    {
      "url": "https://waterservices.usgs.gov/nwis/iv"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": ["Instantaneous"],
        "summary": "USGS Instantaneous Values Web Service",
        "description": "You must use exactly one major filter in your query. Anything more or less will result in an error",
        "operationId": "getInstantaneousValues",
        "parameters": [
          {
            "name": "sites",
            "in": "query",
            "description": "*Major Filter* a comma-delimited list of site numbers up to 100 sites",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stateCds",
            "in": "query",
            "description": "*Major Filter* a comma-delimited list of U.S. postal service state codes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hucs",
            "in": "query",
            "description": "*Major Filter* a comma-delimited list of hydrologic unit codes (HUC) or watersheds. Only 1 major HUC can be specified per request. A major HUC has two digits. Minor HUCs must be eight digits in length. List of HUCs can be found here http://water.usgs.gov/GIS/huc_name.html",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bBox",
            "in": "query",
            "description": "*Major filter* a contiguous range of decimal latitude and longitude, starting with the west longitude, then the south latitude, then the east longitude, and then the north latitude with each value separated by a comma, e.g. '-83,36.5,-81,38.'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countyCds",
            "in": "query",
            "description": "*Major Filter* a comma-delimited list of county numbers, in a 5 digit numeric format. The first two digits of a county's code are the FIPS State Code. List of county codes: http://help.waterdata.usgs.gov/code/county_query?fmt=html",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDt",
            "in": "query",
            "description": "Start of date range in ISO-8601 format, e.g. 2014-03-20T00:00Z",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDt",
            "in": "query",
            "description": "End of date range in ISO-8601 format, e.g. 2014-03-20T00:00Z",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parameterCds",
            "in": "query",
            "description": "A comma-delimited list of parameter codes. All parameter codes are numeric and 5 characters in length. Parameter codes are used to identify the constituent measured and the units of measure. Popular codes include stage (00065), discharge in cubic feet per second (00060) and water temperature in degrees Celsius (00010). Full list: http://help.waterdata.usgs.gov/codes-and-parameters/parameters",
            "schema": {
              "type": "string",
              "example": "00060"
            }
          },
          {
            "name": "siteTypes",
            "in": "query",
            "description": "A comma-delimited list of site types. Restricts sites to those having one or more major and/or minor site type. Full list: http://help.waterdata.usgs.gov/site_tp_cd",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteStatus",
            "in": "query",
            "description": "Selects sites based on whether or not they are active.",
            "schema": {
              "enum": ["all", "active", "inactive"],
              "type": "string",
              "example": "all"
            }
          },
          {
            "name": "agencyCd",
            "in": "query",
            "description": "Agency code for the site. Full list: http://help.waterdata.usgs.gov/code/agency_cd_query?fmt=html",
            "schema": {
              "type": "string",
              "example": "USGS",
              "default": "USGS"
            }
          },
          {
            "name": "altMin",
            "in": "query",
            "description": "Minimum site altitude expressed in feet.",
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "altMax",
            "in": "query",
            "description": "Maximum site altitude expressed in feet.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 5000
            }
          },
          {
            "name": "drainAreaMin",
            "in": "query",
            "description": "Minimum drainage area (watershed) size, expressed in square miles or decimal fractions thereof.",
            "schema": {
              "type": "integer",
              "example": 100
            }
          },
          {
            "name": "drainAreaMax",
            "in": "query",
            "description": "Maximum drainage area (watershed) size, expressed in square miles or decimal fractions thereof.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 500
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Specify the output format of the data returned. Defaults to 'xml'",
            "schema": {
              "enum": ["xml", "json", "rdb"],
              "type": "string",
              "example": "json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Access Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "503": {
            "description": "Service unavailable"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Instantaneous"
    }
  ],
  "components": {
    "schemas": {
      "SiteResponse": {},
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
