{
  "openapi": "3.0.2",
  "info": {
    "title": "USGS Water Services API",
    "description": "You can use this service to retrieve recent and historical values for streamflow as well as data for other regular time-series parameters served by the USGS. This service provides these USGS water data in Extensible Markup Language (XML), Javascript Object Notation (JSON) and the legacy RDB (tab-delimited) format currently available from the USGS Water Data for the Nation site External Link. More media types will follow.",
    "version": "1.0.0",
    "contact": {
      "name": "USGS",
      "url": "https://www.usgs.gov/"
    }
  },
  "servers": [
    {
      "url": "https://waterservices.usgs.gov/nwis/iv"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": ["Site"],
        "summary": "Get site information",
        "description": "A list of site numbers. You can specify up to 100 sites. Sites are comma separated. Sites may be prefixed with an optional agency code followed by a colon. If you don't know the site numbers you need, you can find relevant sites with the NWIS Mapper (http://wdr.water.usgs.gov/nwisgmap/index.html) or on the USGS Water Data for the Nation site (http://waterdata.usgs.ogv/nwis/)",
        "operationId": "getSite",
        "parameters": [
          {
            "name": "sites",
            "in": "query",
            "description": "https://waterservices.usgs.gov/rest/IV-Service.html#Single",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01646500"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "description": "https://waterservices.usgs.gov/rest/IV-Service.html#format",
            "schema": {
              "enum": ["json"],
              "type": "string",
              "example": "json"
            }
          },
          {
            "name": "parameterCd",
            "in": "query",
            "description": "https://waterservices.usgs.gov/rest/IV-Service.html#parameterCd",
            "required": false,
            "schema": {
              "type": "string",
              "example": "00060"
            }
          },
          {
            "name": "siteStatus",
            "in": "query",
            "description": "https://waterservices.usgs.gov/rest/IV-Service.html#siteStatus",
            "required": true,
            "schema": {
              "enum": ["all", "active", "inactive"],
              "type": "string",
              "example": "all"
            }
          },
          {
            "name": "siteType",
            "in": "query",
            "description": "https://waterservices.usgs.gov/rest/IV-Service.html#siteType",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ST"
            }
          },
          {
            "name": "agencyCd",
            "in": "query",
            "description": "https://waterservices.usgs.gov/rest/IV-Service.html#agencyCd",
            "required": false,
            "schema": {
              "type": "string",
              "example": "USCE"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "503": {
            "description": "Service unavailable"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Site"
    }
  ],
  "components": {
    "schemas": {
      "SiteResponse": {},
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
